# ignore virtual environments (named .venv)
.venv

# ignore launch and debugging files
.vscode/
launch.*

# ignore compiled objects
*__pycache__
*.pyc
*.pyo

# ignore test files
.pytest_cache

# ignore built environments
build/
dist/

# ignore autosave
~$*.docx
Archive.zip

# ignore quick-testing 
scratchpaper.py